@tailwind base;
@tailwind components;
@tailwind utilities;

.main_head{
  @apply bg-gradient-to-r w-screen px-4 text-center flex items-center justify-center from-darkBg to-neonGreen h-[100px] lg:text-[60px] text-3xl bg-clip-text text-transparent font-bold font-sans;
}

.description{
  text-shadow: 0 0 10px rgba(0, 0, 0, .1);
  opacity: 120%;
}

.login{
  @apply bg-gradient-to-tr from-darkBg to-neonTertiary;
  animation: gradientAnimation 3s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
